@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import 'colors.scss';

* {
    margin: 0;
    padding: 0;
}

body {  
    margin: 2rem;
}

header {
    background: $gray-color2;
    color: $text-heading-color;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
    border-radius: 2rem;
    padding: 0.8rem;
}

.lista {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: $white;
    padding: 0.4rem;
    border-radius: 3rem;


    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    li {
        transition: transform 0.4s;
        cursor: pointer;

    }

    li:hover{
        transform: scale(1.2);
    }

    img {
        cursor: pointer;
        max-width: 2rem;
        transition: transform 0.4s;
    }

    img:hover{
        transform: scale(1.2);
    }

}

header button {
    background: $white;
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    border-color: $primary-color;
    cursor: pointer;
    border-style: groove;
    transition: transform 1s;
}

header button:hover {
    transform: scale(1.1);
    background: $primary-color;
}

//


//main 1
.parte-1 {
    margin-top: 2rem;
    background-image: linear-gradient(to right, $primary-color, $secondary-color 70%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    
}

.texto-parte-1 {

    margin-top: -10rem;
    margin-left: 2rem;

    p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 4.1rem;
        line-height: 5rem;
        margin-bottom: 1.5rem;
    }

    input {
        padding: 0.8rem 5rem;
        border: none;
        border-radius: 1.5rem;
        font-family: 'Poppins', sans-serif;
    }

    button {
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        background: $text-heading-color;
        color: $white;
        border-radius: 1.5rem;
        padding: 0.8rem 1rem;
        border: none;
        transition: transform 0.5s;
    }

    button:hover {
        transform: scale(1.1);
    }
}

.sub-texto-parte-1 {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: $black-color;
    margin-bottom: 5rem;

    h2 {
        font-size: 3.1rem;
    }
}

.icones {
    margin: 0rem 3rem 0rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;

    
    h3 {
        font-size: 1.7rem;
        margin: 0.5rem 0 1rem 0rem;
    }
}

.icones span {
    transition: transform 0.5s;
}

.icones span:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-style: inherit;
    padding: 5px;
    border-radius: 1rem;
    background: $gray-color2;
}



//


// main 2

.main-2 {
    margin-top: 8rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.parte-2-texto {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 3.1rem;
    }

    .icones-main-2 {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .icones-main-2 img {
        transition: transform 0.3s;
        width: 2rem;
    }

    .icones-main-2 img:hover {
        transform: scale(1.2);
    }

    .icone-esquerda {
        background: $text-heading-color;
        border-radius: 50px;
        padding: 5px;
    }
}

.casas-fotos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;


    .casa {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background: $gray-color2;
        gap: 12px;



        span {
            font-size: 1.3rem;
            font-weight: 600;
        }

        .foto-casa {
            background-image: linear-gradient(to bottom right, $primary-color, $secondary-color);
            border-radius: 1rem;
            padding: 10px;
        }

        .estrelas {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
        }
    }


}

// 

// MAIN 3
.main-3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 8rem;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.1rem;
}

.main-separa {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;

    .main-3-texto {
        max-width: 35rem;
        align-items: center;
        justify-content: center;
        margin-left: 6rem;
        margin-top: -5rem;
    }

    h3 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    button {
        margin: 1rem;
        font-family: 'Poppins', sans-serif;
        color: $text-heading-color;
        padding: 1rem 1.5rem;
        border-style: double;
        border-radius: 3rem;
        border-color: $gray-color;
        background: $gray-color2;
        cursor: pointer;
    }

    button:hover {
        background: $black-color;
        color: $white;
    }

    .numeros {
        font-size: 4.1rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        
        span {
            display: flex;
            flex-direction: column;
            padding: 1.5rem 2.5rem;
            transition: transform 0.5s;
            cursor: pointer;
        }

        span:hover{
            transform: scale(1.1);
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            margin-top: -1rem;
            align-self: flex-start;
        }

    }

    img {
        max-width: 33rem;
        border-radius: 1rem;
        z-index: -1;
        margin-right: 3rem;
        filter: opacity(90%) ;
    }

}

//

// MAIN 4 
.main-4 {
    margin-top: 10rem;
    font-family: 'Poppins', sans-serif;
    width: 100%;

    .parte-4 {
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(to right, $primary-color, $secondary-color 70%);
        border-radius: 1rem;
        padding: 0.5rem 2rem;
    }

    .parte-4-texto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        h2 {
            margin-top: -14rem;
        }

        p {
            margin: 1rem 0rem 3rem 0rem;
        }

        input {
            padding: 0.8rem 5rem;
            border: none;
            border-radius: 1.5rem;
            font-family: 'Poppins', sans-serif;
        }

        button {
            font-family: 'Poppins', sans-serif;
            cursor: pointer;
            background: $text-heading-color;
            color: $white;
            border-radius: 1.5rem;
            padding: 0.8rem 1rem;
            border: none;
            transition: transform 0.5s;
        }
    
        button:hover {
            transform: scale(1.1);
        }

    }
}
